.paginacao{
    display: flex;
    justify-content: center;
    &__lista{
        display: flex;
        border-radius: .5rem;
        padding: 0;
        margin: 1rem 0;
        &__item{
            width: 2rem;
            height: 2rem;
            margin: 0 .5rem;
            display: flex;
            justify-content: center;
            &__link{        
                margin: inherit;        
                text-decoration: none;
                color: var(--corTexto);
                img{
                    width: 1rem;
                }
            }
        }
        &__item:first-child{
            display: none;
        }
        &__item:last-child{
            display: none;
        }
    }
}

.paginaAtiva{
    border: 3px solid var(--corSecundaria);
    border-radius: 100%;
}