.titulo{
    margin-left: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--corTexto);
}

.chart{
    margin-top: 2rem;
    margin-bottom: 2rem;
    &__slider{
        &__item{
            margin-top: 2rem;
            &__imagem{
                width: 10rem;
                border-radius: 15px;
                filter: drop-shadow(0px 4px 32px rgba(32, 32, 32, 0.14));
            }
        }
    }
}
