<div class="pesquisa">
  <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="Pesquisar()" class="pesquisa__input form-control" placeholder="Search...">
</div>
<h1 class="titulo">{{title}}</h1>


<table class="midias">
  <ng-container *ngIf="!name">
    <ng-container *ngFor="let item of listaService.todosEmTrending;">
      <tr>
        <app-item *ngIf="item.poster_path" class="resultados__midias__item" [item]="item"></app-item>
      </tr>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="name">
    <ng-container *ngFor="let item of Contador(20);let i = index">
      <tr>
        <app-item *ngIf="listaAPI[i].poster_path;else substituirSemCapa" class="resultados__midias__item" [item]="listaAPI[i]"></app-item>
      </tr>
      <ng-template #substituirSemCapa>
        <tr>
          <app-item *ngIf="listaAPISimilares[i].poster_path" class="resultados__midias__item" [item]="listaAPISimilares[i]"></app-item>
        </tr>
      </ng-template>
    </ng-container>
  </ng-container>
</table>
<ng-container *ngIf="!name">
  <app-paginacao [metodoPaginacao]="listaService.listarEmAlta"></app-paginacao>
</ng-container>
