.pesquisa{
    display: flex;
    justify-content: center;
    &__input{
        -webkit-appearance: textfield;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: #fff url('../../../assets/icons/search-solid.svg') no-repeat 9px center;
        background-size: 18px;
        border: solid 1px #ccc;
        padding: 9px 10px 9px 32px;
        width: 70%;
        border-radius: 10em;
        transition: all .5s;
    }
}

.titulo{
    margin: 1rem 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--corTexto);
}

:host ::ng-deep .item{
    margin: 0 !important;
    &__imagem{
        width: 128px !important;
        height: 192px !important;
    }
}

.midias{
    display: grid;
    gap: 1rem;
    grid-template-areas: ". .";
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.paginacao{
    display: flex;
    justify-content: center;
    &__botao{
        height: 2rem;
        width: 2rem;
        font-size: 10px;
        border-radius: 50%;
        background-color: var(--corSecundaria);
        color: #FFFF;
        border: 0;
        margin: 1rem;
        img{
            filter: invert(100%);
            width: 12px;
        }
    }
}

@media (min-width: 576px) { 
    .midias{
        grid-template-areas: ". . ."
    }
}

@media (min-width: 768px) { 
    .midias{
        grid-template-areas: ". . . . ."
    }
}

@media (min-width: 992px) { 
    .midias{
        grid-template-areas: ". . . . . . ."
    }
}

@media (min-width: 1200px) { 
    .midias{
        grid-template-areas: ". . . . . . . . "
    }
}

@media (min-width: 1400px) { 
    .midias{
        grid-template-areas: ". . . . . . . . . "
    }
}

@media (min-width: 1680px) { 
    .midias{
        grid-template-areas: ". . . . . . . . . . "
    }
}