<div class="pesquisa">
  <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="Pesquisar()" class="pesquisa__input form-control" placeholder="Search...">
</div>
<h1 class="titulo">{{title}}</h1>


<table class="midias">
  <ng-container *ngIf="!name">
    <ng-container *ngFor="let item of listaService.todosEmTrending;">
      <tr>
        <app-item *ngIf="item.poster_path" class="resultados__midias__item" [item]="item"></app-item>
      </tr>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="name">
    <ng-container *ngFor="let item of Contador(20);let i = index">
      <tr>
        <app-item *ngIf="listaAPI[i].poster_path;else substituirSemCapa" class="resultados__midias__item" [item]="listaAPI[i]"></app-item>
      </tr>
      <ng-template #substituirSemCapa>
        <tr>
          <app-item *ngIf="listaAPISimilares[i].poster_path" class="resultados__midias__item" [item]="listaAPISimilares[i]"></app-item>
        </tr>
      </ng-template>
    </ng-container>
  </ng-container>
</table>
<div class="paginacao">
  <ul class="paginacao__lista">
      <li class="paginacao__lista__item">
          <a class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(1)">First</a>
      </li>
      <li class="paginacao__lista__item">
          <a class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(listaService.paginaAtual - 1)">
            <img src="../../../assets/icons/arrow-left-solid.svg">
          </a>
      </li>
      <li class="paginacao__lista__item">
          <a *ngIf="listaService.paginaAtual - 1" class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(listaService.paginaAtual - 1)">{{listaService.paginaAtual - 1}}</a>
      </li>
      <li class="paginacao__lista__item paginaAtiva">
        <a class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(listaService.paginaAtual)">{{listaService.paginaAtual}}</a>
      </li>
      <li class="paginacao__lista__item">
        <a class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(listaService.paginaAtual + 1)">{{listaService.paginaAtual + 1}}</a>
      </li>
      <li class="paginacao__lista__item">
          <a class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(listaService.paginaAtual+1)">
            <img src="../../../assets/icons/arrow-right-solid.svg">
          </a>
      </li>
      <li class="paginacao__lista__item">
          <a class="paginacao__lista__item__link" (click)="listaService.listarEmAlta(listaService.ultimaPagina)">Last</a>
      </li>
  </ul>
</div>