app-relogio{
    display: none;
}

.navbar{
    margin: 1rem;
    &__icone{
        background-color: transparent;
        border: 0;
        &__barraCima{
            width: 38px;
            height: 4px;
            background-color: var(--corSecundaria);
            border-radius: 4px;
            margin-bottom: 6px;
            transition-duration: .5s;
        }
        &__barraBaixo{
            width: 48px;
            height: 4px;
            background-color: var(--corSecundaria);
            border-radius: 4px;
            margin-top: 6px;
            transition-duration: .5s;
        }
    }
    &__icone.ativo{
        .navbar__icone__barraCima{
            transition-duration: .5s;
            width: 38px;
            transform: rotate(-45deg) translate(-6px, -6px);
        }
        .navbar__icone__barraBaixo{
            transition-duration: .5s;
            width: 38px;
            transform: rotate(45deg) translate(-13px, 0px);
        }
    }
    &__logo{
        width: 10rem;
    }
    &__menu{
        padding: 0;
        display: none;
        margin: 0;
        &__item{
            display: flex;
            justify-content: center;
            margin: 4rem 0;
            height: 30px;
            &__link{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--corTexto);
            }
            &__link:hover{
                color: var(--corSecundaria);
            }
        }
        &__pesquisa{
            display: none;            
            &__form{
                &__input{
                    outline: none;
                }
                &__input[type=search]{
                    -webkit-appearance: textfield;
                    box-sizing: content-box;
                    -webkit-box-sizing: content-box;
                    font-family: inherit;
                    font-size: 100%;
                    background: #fff url(../../../../assets/icons/search-solid.svg) no-repeat 9px center;
                    background-size: 18px;
                    border: solid 1px #ccc;
                    padding: 9px 10px 9px 32px;
                    width: 55px;
                    -webkit-border-radius: 10em;
                    -moz-border-radius: 10em;
                    border-radius: 10em;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    transition: all .5s;
                }
                &__input[type=search]:focus{
                    width: 130px;
                    background-color: #fff;
                    border-color: var(--corSecundaria);
                    
                    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
                    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
                    box-shadow: 0 0 5px rgba(109,207,246,.5);
                }
                &__input::-webkit-search-decoration,
                &__input::-webkit-search-cancel-button{
                    display: none; 
                }
                &__input::-webkit-input-placeholder{
                    color: #999;
                }
            }
        }
        &__pesquisa.active{
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    &__menu.active{
        display: block;
        width: 100%;
        text-align: center;
    }
}

.menuAtivo{
    font-weight: bold;
    border-bottom: 3px solid #D71F24;
}

@media (min-width: 992px) {
    app-relogio{
        display: block;
        margin: 2.5rem 0;
    }
    .navbar{
        margin: 0 5%;
        &__icone{
            display: none;
        }
        &__logo{
            width: 10rem;
        }
        &__menu{
            display: flex;
            &__pesquisa{
                display: flex;
                justify-content: end;
                width: 175px;
            }
            &__item{
                margin: 0 5rem;       
            }
        }
    }
}

@media (max-width: 1567.98px) {
    .navbar{
        &__menu{
            &__item{
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}