<app-relogio></app-relogio>
<nav class="navbar">
    <a class="navbar__logo" href="#">
        <img class="navbar__logo" src="/assets/img/logo.svg">
    </a>
    <button class="navbar__icone" type="button">
        <img class="navbar__icone__imagem" src="../../../../assets/icons/menu.svg">
    </button>
    <ul class="navbar__menu">
        <li class="navbar__menu__item">
        <a class="navbar__menu__item__link" href="#">Home</a>
        </li>
        <li class="navbar__menu__item">
        <a class="navbar__menu__item__link menuAtivo" href="#">Movies</a>
        </li>
        <li class="navbar__menu__item">
        <a class="navbar__menu__item__link" href="#">Serials</a>
        </li>
        <li class="navbar__menu__item">
        <a class="navbar__menu__item__link" href="#">My List</a>
        </li>
    </ul>
    <div class="navbar__menu__pesquisa">
        <input class="navbar__menu__pesquisa__entrada" type="text" placeholder="Search.." name="search">
    </div>
  </nav>